/*----------------------------------全画面共通--------------------------------*/
h1{
    text-align: center;
    background: #BDD4DE;
    width: 680px;
    margin: auto;
    border-radius: 20px/50%;
}

body{
    background: #EFEFEF;
    color: #2B3A42;
}

.button{
    margin-left: auto;
    margin-right: auto;
}

textarea{
    width: 100%;
    height: 100px;
    resize: none;
}

a{
    text-align: center;
    margin: auto;
}

p{
    color: #2B3A42;
}





/*---------------------------------------------------------------------------*/

/*-----------------------------入力画面、確認画面----------------------------*/
.d{
    display: flex;
    width: 600px;
    margin: auto;
}

.dd{
    width: 660px;
    margin: 10px auto 10px auto;
    padding: 10px 10px 10px 10px;
    background: #BDD4DE;
}
.d1{
    width: 200px;
    background: #3F5765;
    color: white;
    border: 1px solid black;
    padding: 10px 10px 10px 10px;
}
.d2{
    width: 400px;
    flex: 1 1 auto;
    padding: 10px 10px 10px 30px;
    border: 1px solid black;
    word-break: break-all;
}

.button input{
    width: 80px;
    padding: 10px 10px 10px 10px;
    margin: 10px 30px 10px 30px;
    background: #FF530D;
    font-weight: bolder;
    font-size: 14px;
    color: white;
}
label{
    cursor: pointer;
}

/*---------------------------------------------------------------------------*/

/*---------------------------------管理者画面---------------------------------*/
table{
    width: 1300px;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
    margin: auto;
    background: #BDD4DE;
}

.item{
    color: white;
    background: #3F5765;
    border: 2px double #2c3e50;
}

.g{
    background: white;
}

.ques{
    width: 30%;
}


td{
    border: 1px solid #2C3E50;
    margin: 0px 0px 0px 0px;
}

/*---------------------------------------------------------------------------*/

/*----------------------------------完了画面----------------------------------*/

.comp{
    width: 300px;
    text-align: center;
    color :#E74C3C;
    font-weight: bolder;
    font-size: 16px;
    background: #ECF0F1;
    margin: auto;
    background: #BDD4DE;
}

/*---------------------------------------------------------------------------*/
